<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show Flights</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="container">
    <h1>Show Flights</h1>
    <form>
      <button formaction="/" class="btn btn-secondary">Home</button>
    </form>
    <br />
    <div>
      <h3>Flight List</h3>
      <div id="flightList"></div>
      <div>
        <button class="btn btn-primary" id="fetchFlightList">
          Fetch Flights
        </button>
        <span id="loaderIcon"></span>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Origin</th>
              <th scope="col">Destination</th>
              <th scope="col">Departure Time</th>
              <th scope="col">Guests</th>
              <th scope="col">Cancelation</th>
            </tr>
          </thead>
          <tbody id="tbody">
            <tr th:each="flight : ${flightList}">
              <td
                th:class="${flight.isCanceled} ? list-group-item-danger : none"
                th:text="${flight.origin}"
                scope="row"
              ></td>
              <td
                th:class="${flight.isCanceled} ? list-group-item-danger : none"
                th:text="${flight.destination}"
              ></td>
              <td
                th:class="${flight.isCanceled} ? list-group-item-danger : none"
                th:text="${flight.time}"
              ></td>
              <td
                th:class="${flight.isCanceled} ? list-group-item-danger : none"
                th:text="${flight.people}"
              ></td>

              <td
                th:class="${flight.isCanceled} ? list-group-item-danger : none"
              >
                <span
                  th:text="${flight.cancelReason}"
                  th:hidden="${flight.isCanceled} ? false : true"
                >
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $('#fetchFlightList').click(() => {
        $('#fetchFlightList').attr('disabled', 'true')
        $('#tbody').attr('hidden', 'hidden')
        $('#loaderIcon').html(
          '<div class="spinner-border" role="status">' +
            '<span class="sr-only">Loading...</span>' +
            '</div>'
        )
        setTimeout(() => {
          $('#loaderIcon').html('')
          $('#fetchFlightList').removeAttr('disabled')
          $('#tbody').removeAttr('hidden')
        }, 600)
      })
    </script>
  </body>
</html>
